<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>Servlets.SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmployeeDB</servlet-name>
        <servlet-class>Servlets.UpdateEmployeeDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InputEmployeeDB</servlet-name>
        <servlet-class>Servlets.InputEmployeeDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InputTaskDB</servlet-name>
        <servlet-class>Servlets.InputTaskDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskEditDB</servlet-name>
        <servlet-class>Servlets.TaskEditDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountDB</servlet-name>
        <servlet-class>Servlets.UpdateAccountDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubTaskEditDB</servlet-name>
        <servlet-class>Servlets.SubTaskEditDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlagTaskEmp</servlet-name>
        <servlet-class>Servlets.FlagTaskEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteTaskEmp</servlet-name>
        <servlet-class>Servlets.CompleteTaskEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeInEmp</servlet-name>
        <servlet-class>Servlets.TimeInEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeOutEmp</servlet-name>
        <servlet-class>Servlets.TimeOutEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutProcess</servlet-name>
        <servlet-class>Servlets.LogoutProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployeeDB</servlet-name>
        <servlet-class>Servlets.DeleteEmployeeDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReleaseSalary</servlet-name>
        <servlet-class>Servlets.ReleaseSalary</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/SignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployeeDB</servlet-name>
        <url-pattern>/UpdateEmployeeDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputEmployeeDB</servlet-name>
        <url-pattern>/InputEmployeeDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputTaskDB</servlet-name>
        <url-pattern>/InputTaskDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskEditDB</servlet-name>
        <url-pattern>/TaskEditDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountDB</servlet-name>
        <url-pattern>/UpdateAccountDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubTaskEditDB</servlet-name>
        <url-pattern>/SubTaskEditDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlagTaskEmp</servlet-name>
        <url-pattern>/FlagTaskEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteTaskEmp</servlet-name>
        <url-pattern>/CompleteTaskEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeInEmp</servlet-name>
        <url-pattern>/TimeInEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeOutEmp</servlet-name>
        <url-pattern>/TimeOutEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutProcess</servlet-name>
        <url-pattern>/LogoutProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployeeDB</servlet-name>
        <url-pattern>/DeleteEmployeeDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReleaseSalary</servlet-name>
        <url-pattern>/ReleaseSalary</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>WelcomeAdmin</servlet-name>
        <jsp-file>/WelcomeAdmin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeAdmin</servlet-name>
        <url-pattern>/WelcomeAdmin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WelcomeEmployee</servlet-name>
        <jsp-file>/WelcomeEmployee.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeEmployee</servlet-name>
        <url-pattern>/WelcomeEmployee</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Employee_Overview</servlet-name>
        <jsp-file>/Employee_Overview.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Employee_Overview</servlet-name>
        <url-pattern>/Employee_Overview</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>printer</servlet-name>
        <jsp-file>/printer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>printer</servlet-name>
        <url-pattern>/printer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>New_Employee</servlet-name>
        <jsp-file>/New_Employee.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>New_Employee</servlet-name>
        <url-pattern>/New_Employee</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Employee_Input</servlet-name>
        <jsp-file>/Employee_Input.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Employee_Input</servlet-name>
        <url-pattern>/Employee_Input</url-pattern>
    </servlet-mapping>
</web-app>
